body {
  background: url("/public/bg.png");
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100%;
}
.userimage {
  background: url("/public/sky.png");
  background-repeat: no-repeat;
}
.slogan {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}